body {
    background-color: rgba(255, 220, 255,0.5);
    font-family: "Source Code Pro", "sans-serif";
}

div.navbar {
    display:flex;
    max-height: 3rem;
    background-color: indianred ;
}

div.navbar * {
    flex: 0 1 auto;
}

div.footer {
    display: inherit;
    position: absolute;

}
:is(h1, h2, h3, ul) {
    font-weight: bold;
}

h1 {
    text-align: left;
}

h2 {
    text-align: right;
}

div.content {
    max-width: 100em;
    width: auto;
    margin: auto;
    background-color: white;
}

div.flex {
    display: flex;
}

div.column{
    flex-direction: column;
}

div.content > *:not(h3, ul),
div.content :is(div.button) {
    margin:auto;
    padding: 1rem 2rem;
}


div.buttons {
    display: flex;
}

div.buttons * {
    flex: 0 0 auto;
}

input.button {
    margin: auto;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
}

div.object-image {
    margin: auto;
    padding: 2rem;
    min-width: 0;
    height: auto;
}

img.object-image {
    min-width: 0;
    max-width: 30rem;
    height: auto;
    align-self: flex-start;
}

div.object-detail {
    padding: 0.5rem 2rem;
}


.button-delete {
    background-color: darkred;
}

.button-create {
    background-color: dodgerblue;
}

.button-update {
    background-color: darkgreen;
}
